.gallery {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 10;
    
    .slide {
        padding: 0;
    }

    .img {
        height: 90%;
    }

    &.show {
        display: block;
    }
}