.wrapper {
    padding: var(--nav-height) 32px 0;

    .container {
        display: flex;
        flex-direction: column;
        height: calc(100vh - var(--nav-height));
        .breadcrumb {
            font-size: 2rem;
            color: var(--text-h);
        }

        .box-chat {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            // .box-message {
            //     overflow: s;
            // }

            .message {
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
                height: calc(100vh - var(--nav-height) - 210px);
                margin: 40px 16px 0;;   
            }

            .no-message {
                font-size: 3rem;
                color: var(--light-green);
                opacity: .8;
            }
    
            .write {
                font-size: 1.6rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 10px 0 20px;
          
                input {
                  width: 80%;
                  height: 60px;
                  padding: 0 18px;
                  border: 1px solid lightgray;
                  border-radius: 10px;
                  outline: none;
                }
          
                button{
                  background-color: #1dbf73;
                  padding: 10px;
                  margin-left: 20px;
                  color: white;
                  font-weight: 500;
                  border: none;
                  border-radius: 10px;
                  cursor: pointer;
                  width: 100px;
                }
            }
        }
    }
}